* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 16px;
}

header {
    display: flex;
    flex-direction: row;
    gap: 8px;
    background-color: black;
    box-shadow: 0px 0px 4px rgba(#8a4c4c, #3b9e3b, #3f3fb1, 1);
    width: 90vw;
    height: auto;
    min-height: 10vh;
    border-radius: 25px;
    margin-top: 12px;
}